@{
    ViewBag.Title = "Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="container-fluid col-xs-9 col-sm-7 col-md-6 col-lg-5 col-xl-4">
        <div class="card">
            <div class="card-body">
                <h6 class="text-center mb-3">Oops! The Resource you are looking for could <strong> <span class="text-danger"> Not be Found.</span></strong></h6>

                <p class="text-center"> <a asp-controller="Home" asp-action="index">Click here to go back to Home</a></p>
            </div>
        </div>
    </div>
</div>

